html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 70vh;
    background: #ccc;
}

#status {
    padding: 10px;
    background: #fff;
    font-size: 14px;
}

#debug {
    padding: 10px;
    background: #eee;
    font-size: 12px;
    white-space: pre-line;
    height: 20vh;
    overflow-y: auto;
}